/ACE
/Catch2
/MPC
/Xcode.app
/android-ndk-r21
/arm64-v8a
/armeabi-v7a
/build/webrtc/.*
/build/webrtc/include
/build/webrtc/debug
/build/webrtc/release
/build/webrtc/src
/ffmpeg
/libvpx
/ogg
/openssl
/opus
/opus-tools
/portaudio
/speex
/tinyxml
/webrtc
/x86
/x86_64
/zlib
